.day, section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nutrients ul {
    display: flex;
    width: 35rem;
    justify-content: space-evenly;
}

ul {
    list-style: none;
}


.day-meal {
    margin: 1.25rem 0 1rem 0;
    display: flex;
    flex-direction: row;
}


