.meal {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0 1rem;
    width: 18rem;
    height: 18rem;
    box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
    border-radius: 10px;
    justify-content: space-between;
}

.meal img {
    width: 100%;
    margin-bottom: 1rem;
}