.heading {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 1.5rem; */
}

.heading-text {
    line-height: 2.1rem;
    margin-top: 1rem;
}

.margin_bottom {
    margin-bottom: .50rem;
}

.bg-img{
    background-image:url(../../assets/eat+the+rainbow.jpg) ;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100%;
    background-position-x: -411px;
    background-position-y: -151px;
    background-size: contain;
    background-color: #fcfdff;
}