.font-weight-bold {
  font-weight: 700;
}

.people_love_it {
  background-color: #212529;
}

.people_love_it img {
  max-width: 100%;
  max-height: 12.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}



.get_started_container img {
    width: 10rem;
}
.get_started_container .down_arrow {
    width: 1.5rem;
}

.text-large {
    font-size: 1.12rem;
    letter-spacing: 0.1rem;
}

.custom_home_btn {
    padding: 1rem;
    background-color: #F0754F;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}