.custom-modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.521);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-content {
  background-color: white;
  min-width: 20rem;
  min-height: 20rem;
}
