.info-image {
  width: 320px;
  height: 320px;
  object-fit: cover;
  margin: 0 1rem;
}

.custom-small-img {
  max-width: 2rem;
  margin: 0 0.5rem;
}

.margin-0-1 {
  margin: 0 1rem;
}

.custom-buton {
  padding: .5rem;
  background-color: #F0754F;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  border: none;
}
